# Ausgeschlossene Ordner
Numerik 2025/Hausaufgabe 4/frames_dt_analysis
Numerik 2025/Hausaufgabe 4/frames
Numerik 2025/Hausaufgabe 4/frames_dt=20
Numerik 2025/Hausaufgabe 3/frames
Numerik 2025/Hausaufgabe 3/frames2
Numerik 2025/frames

# Ausgeschlossene Dateitypen
*.zip
